*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F4F5F7;
}
.header{
	height: 48px;
	width: 100%;
	background-color: #333333;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10;
}

.header img{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	position: relative;
	top: 9px;
	left: 10px;
	float: left;
}
.header p{
	width: 200px;
	height: 48px;
	line-height: 48px;
	margin-left: 20px;
	float: left;
	color: white;
}
.header p span{
	width: 100px;
	height: 48px;
	font-size: 10px;
	display: inline-block;
}

nav.footer{
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	z-index: 1000;
}

nav.footer:before{
	display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #e9e9e9;
    content: " ";
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform:scale(1,0.3);
    -webkit-transform: scale(1,0.3);
}
nav.footer a{
	color: #777;
	text-decoration: none;
}
.icon-font{
	font-family: "mfont";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
}
.nav-list i{
	width: 24px;
	height: 24px;
	display: block;
	position: relative;
	top: 8px;
	left: 9px;
	background-size: 24px 24px;
}
.nav-list{
	list-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0px;
}
.nav-list li{
	height: 100%;
	width: 42px;
	margin: 0 24px;
	display: inline-block;
	text-align: center;
}
.nav-list li a{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
}
.nav-list li a:after{
	position: absolute;
	bottom: 3px;
	left: 50%;
	margin-left: -21px;
	width: 42px;
	font-size: 10px;
	content: attr(data-item);
}

.clearfix:after{
	content:" ";
	display: block;
	clear: both;
}

li.nav-list-item-current a{
	color: #d5ab5e;
}
.i-home{
	background-image: url(../img/home.png);
}
.i-discover{
	background-image: url(../img/服务.png);
}
.i-my{
	background-image: url(../img/my_active.png);
}
a{
	text-decoration: none;
	color: #000;
    -webkit-tap-highlight-color: transparent;
}
/*头像部分*/
.main{
	position: relative;
	top: 47px;
}
.balance{
	width: 100%;
	height: 110px;
	background-color: #333333;
	position: relative;
}
.balance-title{
	margin: 0 20px;
	box-sizing: content-box;
	padding-top: 20px;
}
.balance-title span:first-child{
	color: #DCDCDC;
	font-size: 12px;
}
.balance-title span:last-child{
	font-size: 8px;
	color: #a3d241;
	border: 1px solid #DCDCDC;
	border-radius: 10px;
	margin-left: 5px;
}
.balance-content{
	height: 40px;
	margin: 0 20px;
	margin-top: 10px;
	box-sizing: content-box;
}
.balance-content>span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	color: white;
}
.balance-content a{
	display: block;
	float: right;
	position: relative;
}
.balance-content>a span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: white;
	float: right;
	position: relative;
	right: 15px;
}
.balance-content img{
	width: 18px;
	height: 18px;
	float: right;
	position: relative;
	top: 10px;
	right: -30px;
}
.balance-content:after{
	content: "";
	display: block;
	clear: both;
}
.vouchers{
	width: 100%;
	height: 80px;
	background-color: white;
	position: relative;
}	
.vouchers_block{
	width: 50%;
	height: 80px;
	position: relative;
}
.vouchers_block a{
	display: block;
	position: relative;
}
.block_left{
	width: 40%;
	height: 80px;
	text-align: center;
	position: relative;
}
.block_right{
	width: 60%;
	position: relative;
	top: 20px;
}
.block_right h3{
	font-size: 18px;
}
.block_right p{
	font-size: 12px;
	color: #777777;
}
.vouchers_block{
	float: left;
}
.vouchers:after{
	content: "";
	display: block;
	clear: both;
}
.vouchers_block div{
	float: left;
}
.vouchers_block a:after{
	content: "";
	display: block;
	clear: both;
}
.block_left img{
	width: 40px;
	height: 40px;
	border-radius: 5px;
	position: relative;
	top: 20px;
}

.my-tab{
	margin-top: 10px;
	width: 100%;
	position: relative;
}
.my-tab li{
	width: 100%;
	height: 50px;
	list-style-type: none;
	position: relative;
}
.my-tab li span{
	display: inline-block;
	width: 50px;
	height: 50px;
	position:relative;
	float: left;
}
.my-tab li img{
	width: 25px;
	height: 25px;
	border-radius: 5px;
	position: relative;
	top: 12px;
	left: 15px;
}
.my-tab li p{
	width: 100px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #333333;
	position: relative;
	float: left;
	left: 5px;
}
.my-tab li span:last-child{
	position: relative;
	float: right;
}
.my-tab li span:last-child img{
	width: 20px;
	height: 20px;
	position: relative;
	top: 15px;
	left: 20px;
}
.my-tab-hr{
	width: 320px;
	height: 1px;
	background-color: #DCDCDC;
	display: block;
	float: right;
}
.my-tab li:after{
	content: "";
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
.my-tab-item{
	width: 100%;
	position:relative;
	margin-top: 10px;
	background-color: white;
}
